@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes fadeIn {
    0%{
        visibility: visible;
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.intro{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.75);
    @extend %flex-center;
    opacity: 1;
    animation: fadeIn  3s forwards;
    &__loader{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 10px $tertiary solid;
        border-left: 10px $primary solid;
        animation: rotate 3 1s linear;
    }
}
