@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.menu--btnBox, .menu__container, .guide__box--number, .guide, .location__explorer--button, .location__explorer, .location__choice, header, .intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__container--box .left-container .names, .menu .titleContainer, .restaurant__box--txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .titleContainer h1 {
  font-family: "Shrikhand", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.intro {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  animation: fadeIn 3s;
  visibility: hidden;
}
.intro__loader {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px #99E2D0 solid;
  border-left: 10px #9356DC solid;
  animation: rotate 3 1s linear;
}

.heart-container {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 25px;
}
.heart-container i {
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.heart-container .colored {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.heart-container .nocolor {
  transition: 0.3s ease-in;
  color: #000;
}
.heart-container:hover .colored {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart-container:hover .nocolor {
  opacity: 0;
}

header {
  width: 100%;
  height: 80px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0 10px;
  position: relative;
}
header .header-arrow {
  font-size: 25px;
  color: #000;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
header img {
  height: 40px;
  width: 160px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #353535;
  padding: 25px 0 0 20px;
}
@media (min-width: 992px) {
  footer {
    padding: 25px 10% 20px;
  }
}
footer .footerbox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
footer .footerbox img {
  height: 18px;
  margin-bottom: 20px;
}
footer .footerbox a {
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
}
footer .footerbox a i {
  margin-right: 6px;
}

main {
  height: 100%;
  width: 100%;
}

.location {
  height: auto;
  width: 100%;
}
.location__choice {
  height: 50px;
  width: 100%;
  background: #eaeaea;
}
.location__choice i {
  font-size: 18px;
  color: #353535;
  margin-right: 10px;
}
.location__choice p {
  font-size: 18px;
  font-weight: 500;
  color: #353535;
}
.location__explorer {
  width: 100%;
  padding: 35px 10%;
  text-align: center;
  background: #f6f6f6;
  flex-direction: column;
}
.location__explorer h1 {
  font-size: 26px;
}
.location__explorer p {
  margin: 15px 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
.location__explorer--button {
  background: rgb(255, 121, 218);
  background: linear-gradient(163deg, rgb(255, 121, 218) 1%, rgb(147, 86, 220) 100%);
  height: 60px;
  width: 100%;
  max-width: 270px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  color: white;
  font-weight: 500;
  transition: 0.2s;
}
.location__explorer--button:hover {
  background: rgb(255, 121, 218);
  background: linear-gradient(163deg, rgb(255, 129, 219) 1%, rgb(162, 106, 230) 100%);
  box-shadow: 0 3px 20px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.guide {
  width: 100%;
  flex-direction: column;
  padding: 35px 0px;
}
@media (min-width: 992px) {
  .guide {
    flex-direction: row;
    padding: 65px 0 35px;
    position: relative;
  }
}
.guide h2 {
  font-size: 24px;
  margin: 15px 0 20px;
  width: 80%;
}
@media (min-width: 768px) {
  .guide h2 {
    width: 450px;
    margin: 10px 0 25px;
  }
}
@media (min-width: 992px) {
  .guide h2 {
    width: auto;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.guide__box {
  width: 85%;
  background: #f6f6f6;
  height: 70px;
  margin: 0px 0px 20px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding-left: 30px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .guide__box {
    width: 450px;
  }
}
@media (min-width: 992px) {
  .guide__box {
    width: 250px;
    margin: 20px 20px;
  }
}
.guide__box--number {
  height: 25px;
  width: 25px;
  color: white;
  font-weight: 500;
  background: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: -12.5px;
  top: 50%;
  transform: translateY(-50%);
}
.guide__box--icon {
  color: #7e7e7e;
  font-size: 18px;
  margin-right: 15px;
}
.guide .blue {
  background: #f5edff;
}
.guide .blue .guide__box--icon {
  color: #9356DC;
}

.restaurant {
  width: 100%;
  padding: 35px 0;
  display: grid;
  grid-template-columns: 85%;
  grid-template-rows: 30px repeat(4, 260px);
  row-gap: 25px;
  justify-content: center;
  background: #f6f6f6;
}
@media (min-width: 768px) {
  .restaurant {
    grid-template-columns: 70%;
  }
}
@media (min-width: 992px) {
  .restaurant {
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    grid-gap: 40px;
    padding: 80px 10% 35px;
  }
}
@media (min-width: 1550px) {
  .restaurant {
    grid-template-rows: repeat(2, 400px);
  }
}
.restaurant h2 {
  font-size: 24px;
  width: 80%;
}
@media (min-width: 768px) {
  .restaurant h2 {
    width: 450px;
  }
}
@media (min-width: 992px) {
  .restaurant h2 {
    width: auto;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.restaurant__box {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 0 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow-y: hidden;
}
@media (min-width: 992px) {
  .restaurant__box {
    height: 100%;
    width: 100%;
    margin: 0;
  }
}
.restaurant__box--img {
  width: 100%;
  height: calc(100% - 80px);
  object-fit: cover;
}
.restaurant__box--new {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  color: #008766;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 15px;
}
.restaurant__box--txt {
  width: 100%;
  height: 80px;
  padding: 0 20px 0 10px;
}
.restaurant__box--txt .textbox {
  color: #000;
}
.restaurant__box--txt .textbox h3 {
  font-size: 18px;
}
.restaurant__box--txt .textbox p {
  font-size: 17px;
}

@keyframes check-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes list-anim {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.restaurant-main {
  background: #f6f6f6;
}

.presentation {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 80px;
  left: 0;
}
.presentation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  z-index: 2;
  max-width: 100%;
  margin-top: 250px;
  border-radius: 40px 40px 0 0px;
  padding: 35px 0 0;
  background: #f6f6f6;
}
.menu .titleContainer {
  width: 100%;
  padding: 0px 35px;
}
.menu .titleContainer h1 {
  font-size: 24px;
}
.menu__container {
  flex-direction: column;
  width: 100%;
}
.menu__container h2 {
  margin: 35px 0 10px;
  width: 90%;
  font-size: 19px;
  font-weight: 400;
  position: relative;
}
.menu__container h2::after {
  content: "";
  width: 40px;
  height: 2.5px;
  background: #99E2D0;
  position: absolute;
  left: 1px;
  bottom: -4px;
}
.menu__container .list-anim {
  animation: list-anim 1s ease-in-out forwards;
}
.menu__container .list-anim:nth-child(2) {
  animation-delay: 100ms;
}
.menu__container .list-anim:nth-child(3) {
  animation-delay: 150ms;
}
.menu__container .list-anim:nth-child(4) {
  animation-delay: 200ms;
}
.menu__container .list-anim:nth-child(5) {
  animation-delay: 250ms;
}
.menu__container--box {
  width: 90%;
  margin: 10px 0;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: start;
  height: 72px;
  overflow: hidden;
  transform: translateY(15px);
  opacity: 0;
}
.menu__container--box .left-container {
  width: 100%;
  margin: 0 25px 0 15px;
  overflow: hidden;
  transition: all 0.3s linear;
}
.menu__container--box .left-container:hover {
  width: calc(100% - 60px);
}
.menu__container--box .left-container h3 {
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__container--box .left-container .names--txt {
  margin-right: 15px;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__container--box .left-container .names--price {
  font-weight: 700;
}
.menu__container--box .anim-box {
  background: #99E2D0;
  height: 100%;
  width: 0px;
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
}
.menu__container--box .anim-box .fa-circle-check {
  font-size: 28px;
  color: white;
  transform: rotate(0deg);
  margin: 0 16px 0;
}
.menu__container--box:hover .anim-box {
  width: 60px;
}
.menu__container--box:hover .fa-circle-check {
  animation: check-rotate 0.3s forwards linear;
}
.menu--btnBox {
  width: 100%;
  padding: 50px 0;
}
.menu--btnBox button {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  border: none;
  background: rgb(255, 121, 218);
  background: linear-gradient(163deg, rgb(255, 121, 218) 1%, rgb(147, 86, 220) 100%);
  color: white;
  font-weight: 700;
  font-size: 18px;
}
.menu--btnBox button:hover {
  background: rgb(255, 121, 218);
  background: linear-gradient(163deg, #e886e0 1%, #c87be0 100%);
  box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
