//*** HOMEPAGE + HEART ANIM ***//
main{
    height: 100%;
    width: 100%;
}

//*** Sextion with location user, presentation ***
.location{
    height: auto;
    width: 100%;

    //*** user location ***//
    &__choice{
        height: 50px;
        width: 100%;
        background: $grey;
        @extend %flex-center;
        i{
            font-size: 18px;
            color: $dark-grey;
            margin-right: 10px;
        }
        p{
            font-size: 18px;
            font-weight: 500;
            color: $dark-grey;
        }
    }

    //*** presentation + button effect ***//
    &__explorer{
        width: 100%;
        padding: 35px 10%;
        text-align: center;
        background: $light-grey;
        @extend %flex-center;
        flex-direction: column;
        h1{
            font-size: 26px;
        }
        p{
            margin: 15px 0 25px;
            font-size: 18px;
            opacity: 0.75;
        }
        &--button{
            background: rgb(255,121,218);
            background: linear-gradient(163deg, rgba(255,121,218,1) 1%, rgba(147,86,220,1) 100%);
            height: 60px;
            width: 100%;
            max-width: 270px;
            @extend %flex-center;
            margin-bottom: 15px;
            border-radius: 30px;
            border: none;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
            font-size: 20px;
            color: white;
            font-weight: 500;
            transition: 0.2s;
            &:hover{
                background: rgb(255,121,218);
                background: linear-gradient(163deg, rgb(255, 129, 219) 1%, rgb(162, 106, 230) 100%);
                box-shadow: 0 3px 20px 5px rgba(0, 0, 0, 0.15);
                cursor: pointer;
            }
        }
    }
}

//*** section with user guide ***//
.guide{
    width: 100%;
    @extend %flex-center;
    flex-direction: column;
    padding: 35px 0px;
    @media(min-width: $desktop){
        flex-direction: row;
        padding: 65px 0 35px;
        position: relative;
    }
    h2{
        font-size: 24px;
        margin: 15px 0 20px;
        width: 80%;
        @media(min-width: $tablet) {
            width: 450px;
            margin: 10px 0 25px;
        }
        @media(min-width: $desktop){
            width: auto;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__box{
        width: 85%;
        background: $light-grey;
        height: 70px;
        margin: 0px 0px 20px;
        display: flex;
        align-items: center;
        position: relative;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        padding-left: 30px;
        font-weight: 500;
        @media(min-width: $tablet) {
            width: 450px;
        }
        @media(min-width: $desktop){
            width: 250px;
            margin: 20px 20px ;
        }
        &--number{
            height: 25px;
            width: 25px;
            color: white;
            font-weight: 500;
            background: $primary;
            border-radius: 50%;
            @extend %flex-center;
            position: absolute;
            left: -12.5px;
            top: 50%;
            transform: translateY(-50%);
        }
        &--icon{
            color: #7e7e7e;
            font-size: 18px;
            margin-right: 15px;
        }
    }
    .blue{
        background: #f5edff ;
        .guide__box--icon{
            color: $primary;
        }
    }
}

//*** restaurant section with restuarant card and heart animation ***//
.restaurant{
    width: 100%;
    padding: 35px 0;
    @extend %flex-center;
    flex-direction: column;
    background: $light-grey;
    @media(min-width: $desktop){
        display: grid;
        grid-template-rows: repeat(2, 300px);
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        grid-gap: 40px;
        padding: 80px 10% 35px;
    }
    @media(min-with: $large-screen) {
        grid-template-rows: repeat(2, 400px);
    }
    h2{
        font-size: 24px;
        margin: 15px 0 20px;
        width: 80%;
        @media(min-width: $tablet) {
            width: 450px;
        }
        @media(min-width: $desktop){
            width: auto;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    //*** restaurant card ***//
    &__box{
        height: 260px;
        width: 85%;
        position: relative;
        margin: 0 0 25px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        overflow-y: hidden;
        @media(min-width: $tablet) {
            width: 450px;
        }
        @media(min-width: $desktop){
            height: 100%;
            width: 100%;
            margin: 0;
        }
        &--img{
            width: 100%;
            height: 180px;
            object-fit: cover;      
            @media(min-width: $desktop){
                height: calc(100% - 80px);
            }      
        }
        &--new{
            position: absolute;
            right: 15px;
            top: 15px;
            background-color: $tertiary;
            color: #008766;
            padding: 8px 15px;
            font-weight: 600;
            font-size: 15px;
        }
        &--txt{
            width: 100%;
            height: 80px;
            padding: 0 20px 0 10px;
            @extend %flex-between;
            .textbox{
                color: #000;
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 17px;
                }
            }

            //*** button with heart annimation ***//
            .heart-container{
                border: none;
                background-color: transparent;
                cursor: pointer;
                position: relative;
                height: 25px;
                width: 25px;
                i{
                    font-size: 25px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                }
                .colored{
                    opacity: 0;
                    transition:  0.3s ease-in-out;
                }
                .nocolor{
                    transition: 0.3s ease-in;
                    color: #000;
                }
                &:hover .colored{
                    opacity: 1;
                    background: -webkit-gradient(linear, left top, left bottom, from($secondary), to($primary));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &:hover .nocolor{
                    opacity: 0;
                }
            }
        }
    }
}