@keyframes check-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes list-anim {
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}


.restaurant-main{
    background: $light-grey;
}
.presentation{
    width: 100%;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.menu{
    position: relative;
    z-index: 2;
    max-width: 100%;
    transform: translateY(-45px);
    border-radius: 40px 40px 0 0px;
    padding: 35px 0 0;
    background: $light-grey;
    .titleContainer{
        width: 100%;
        padding: 0px 35px;
        @extend %flex-between;
        h1{
            @extend %title-font;
            font-size: 24px;
        }
    } 
    &__container{
        @extend %flex-center;
        flex-direction: column;
        width: 100%;
        h2{
            margin: 35px 0 10px;
            width: 90%;
            font-size: 19px;
            font-weight: 400;
            position: relative;
        }
        h2::after{
            content: "";
            width: 40px;
            height: 2.5px;
            background: $tertiary;
            position: absolute;
            left: 1px;
            bottom: -4px;
        }
        //*** liste animation ***//
        .list-anim{
            animation: list-anim 1s ease-in-out forwards;
            @for $i from 2 through 5 {
                &:nth-child(#{$i}) {
                    animation-delay: 50ms * $i;
                }
            }
        }
        &--box{
            width: 90%;
            margin: 10px 0;
            border-radius: 15px;
            background: #FFFFFF;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
            display: flex;
            align-items: center;
            justify-content: start;
            height: 72px;
            overflow: hidden;
            transform: rotateY(15px);
            .left-container{
                width: 100%;
                margin: 0 25px 0 15px;
                overflow: hidden;
                transition: all 0.3s linear;
                &:hover{
                    width: calc(100% - 60px);
                }
                h3{
                    font-size: 18px;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .names{
                    @extend %flex-between;
                    &--txt{
                        margin-right: 15px;
                        font-size: 15px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;         
                    }
                    &--price{
                        font-weight: 700;
                    }
                }
            }
            .anim-box{
                background: $tertiary;
                height: 100%;
                width: 0px;
                display: flex;
                align-items: center;
                transition: all 0.3s linear;
                .fa-circle-check{
                    font-size: 28px;
                    color: white;
                    transform: rotate(0deg);
                    margin: 0 16px 0;
                }
            }
            &:hover .anim-box{
                width: 60px;
            }
            &:hover .fa-circle-check{
                animation: check-rotate 0.3s forwards linear;
            }
        }
    }
}