%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-between{
    display: flex;
    align-items: center;
    justify-content: center;
}
%title-font{
    font-family: 'Shrikhand', cursive;
}
